extends ../layout
block javascript
    script(type='text/javascript', src='/js/dropdown.js')
    script(type='text/javascript', src='https://use.fontawesome.com/c695705283.js')
block content
    .content
        h3 Change Password
        form#changePasswordForm.form-horizontal(action='/account/change-password', method='post')
            .form-group
                label.form-control-label(for='currentPassword') Current password
                input#currentPassword.form-control(type='password', name='currentPassword')
                hr
            .form-group
                label.form-control-label(for='newPassword') New password
                input#newPassword.form-control(type='password', name='newPassword')
            .form-group
                label.form-control-label(for='cNewPassword') Confirm new password
                input#cNewPassword.form-control(type='password', name='cNewPassword')
            .form-group
                input.btn.btn-outline-primary.float-sm-right(type='submit', value='Change Password')