// Background colours
$theme: #0B314C;
$theme-dark: #001829;
$theme-light: #225173;
$theme-light-alternative: #2D5D80;
$theme-highlight: #176399;

// Font colours
$text-normal: #FFFFFF;
$text-hover: #CFDCE5;