@import "colours";
@import "scrollbars";
@import url('https://fonts.googleapis.com/css?family=Raleway');

@include scrollbars(0.5em, $theme-light);

html, body {
  background: $theme;
  height: 100%;
}

.form-control, .btn {
  border-radius: 0;
}
hr {
  border-color: $theme-light-alternative;
}

header {
  a {
    color: $text-normal;
  }

  nav.top-nav {
    background: $theme-light;
    height: 50px;
    position: fixed;
    width: 100%;
    margin-top: -50px;
    ul.nav-float-right {
      float: right;
    }
    ul {
      list-style:none;
      margin: 0;
      padding: 0;
      li {
        float: left;
        h1 {
          font-size:25px;
          width: 225px;
          text-align:center;
          height: 100%;
        }
        a {
          padding: 0 20px;
          display: block;
          line-height: 50px;
        }
        a:hover {
          color: $text-hover;
          text-decoration: none;
          background: $theme-light-alternative;
        }
      }
    }
  }

  nav.side-nav {
    position: fixed;
    overflow-y: scroll;
    a:hover {
      background: $theme-highlight;
      color: $text-hover;
      text-decoration: none;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    width: 225px;
    height: 100%;
    background: $theme-light-alternative;

    //box-shadow: 0 5px 7px 0 rgba(34, 81, 115, 0.35);
    //TODO: Fix missing shadow

    h3 {
      font-size: 22px;
      line-height: 44px;
      text-align: center;
      margin: 0 25px;
      border-bottom: 1px solid $theme-light;
    }
    .link-group {
      a.title {
        $s : 16px;
        padding-left: 25px;
        display: block;
        font-size: $s;
        line-height: $s*2;
      }
      a:focus {
        color: inherit;
        text-decoration: inherit;
      }
      a.title::after {
        float:right;
        padding-right: 25px;
        content: '\f0d8';
        font-family: FontAwesome;
      }
      a.title.collapsed::after {
        content: '\f0d7';
      }
      a.title:hover {
        color: inherit;
        text-decoration: none;
      }
      ul {
        a {
          $s : 12px;
          display:block;
          text-align: right;
          padding: 0 25px;
          font-size: $s;
          line-height: $s*2;
          font-weight: 100;
        }
      }
    }
  }
}


.wrapper {
  height: 100%;
}
.content {
  margin-left: 225px;
  margin-top: 50px;
  padding: 25px;
  min-height: 100%;
  height: 100%;


  #clusterChart {
    width: 100%;
    height: 100%;
    display:inline-block;
  }
}

a {
  color: $theme-highlight;
}
* {
  font-family: 'Raleway', sans-serif;
  color: $text-normal;
}

.index-content {
  padding-top: 50px;
}