extends layout
block javascript
    script(type='text/javascript', src='/js/dropdown.js')
    script(type='text/javascript', src='https://use.fontawesome.com/c695705283.js')
block content
    .content
        h1 Hello World
        h2 Test
        p This is a link to <a href='http://google.com/'>Google</a>