extends layout
block javascript
    script(type='text/javascript', src='/js/dropdown.js')
    script(type='text/javascript', src='https://use.fontawesome.com/c695705283.js')
block content
    .content
        h1 Hello World
        p This page will hold more description on the groups on the left and an overview of the health of the system
        hr
        p The current active node/cluster is: {active_node}
        hr
        p(style='height: 2000px') Some buffer text for testing long pages