//- meta
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
//- other
title J-Panel
//- CSS
link(rel='stylesheet', href='/modules/normalize.css/normalize.css')
link(rel='stylesheet', href='/modules/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='//gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css')
link(rel='stylesheet', href='/css/style.css')
//- JS
script(type='text/javascript', src='/modules/tether/dist/js/tether.min.js')
script(type='text/javascript', src='/modules/jquery/dist/jquery.min.js')
script(type='text/javascript', src='/modules/bootstrap/dist/js/bootstrap.min.js')
script(type='text/javascript', src='//gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js')
script(type='text/javascript', src='/js/notifications.js')
script(type='text/javascript', src='/js/tooltip.js')
script(type='text/javascript', src='/js/cluster-selection.js')

//- use any page specific JS
block javascript