extends layout
block javascript
    //script(type='text/javascript', src='assets/javascript/home.js')

block content
    header
        nav.top-nav
            ul
                li: h1: a(href='') Dashboard
                li: a(href='') Link 1
                li: a(href='') Link 2
                li: a(href='') Link 3
                li: a(href='') Link 4
        nav.side-nav
            ul
                li: a(href='') Link 1
                li: a(href='') Link 1
                li: a(href='') Link 1
    .content
        h1 Hello World
        h2 Test