header
    nav.side-nav
        h3: a(href='/') Dashboard
        .node-selector
            h6 Active node
            select.custom-select
                option(data-type='cluster') Cluster Name1
                option  Node A
                option  Node B
                option(data-type='cluster') Cluster Name2
                option  Node C
                option  Node D
                option  Node E
            small: a(href='#') Manage this node
        .link-group
            a.title(href='', data-toggle='collapse', data-target='#linkgroup1') Account
            ul.collapse.show#linkgroup1
                li: a(href='/account/manage-users/') Manage users
                li: a(href='/account/change-password/') Change password
        .link-group
            a.title(href='', data-toggle='collapse', data-target='#linkgroup2') Clusters &amp; nodes
            ul.collapse.show#linkgroup2
                li: a(href='/clusters/') Overview
                li: a(href='/clusters/create') Create new cluster
        .link-group
            a.title(href='', data-toggle='collapse', data-target='#linkgroup3') File Manager
            ul.collapse.show#linkgroup3
                li: a(href='') Cloud store
        .link-group
            a.title(href='', data-toggle='collapse', data-target='#linkgroup4') Services
            ul.collapse.show#linkgroup4
                li: a(href='/ssh/') SSH
                li: a(href='/ftp/') FTP
                li
                    a(href='', data-toggle='collapse', data-target='#linkgroup-apache') Apache
                    ul.collapse.collapsed#linkgroup-apache
                        li: a(href='') Configuration
                        li: a(href='') Logs

nav.top-nav
    a.title(href='', id='notifications')
        span.fa.fa-bell-o
        small.notification-count 2
    //-a.title(href=''): span.fa.fa-bell-o
    #notifications-wrapper
        #notifications-container
            .notification-title Unseen notifications
            .notification-body
                a.notification-link(href=''): span.notification-message Lost connection to node 'Node A'
                a.notification-link(href=''): span.notification-message Lost connection to node 'Node C'
        #live-notifications
    a.title(href='/account/logout'): span.fa.fa-sign-out
