header
    nav.side-nav
        h3: a(href='/') Dashboard
        .node-selector
            h6 Active cluster
            script var clusterSelection = !{JSON.stringify(clusterSelection)};
            select.custom-select
                each cluster in clusterSelection
                    option(data-id=cluster.id)= cluster.name
            small: a(href='#', id='manage-cluster') Manage this cluster
        .link-group
            a.title(href='', data-toggle='collapse', data-target='#linkgroup1') Account
            ul.collapse.show#linkgroup1
                li: a(href='/account/manage-users/') Manage users
                li: a(href='/account/change-password/') Change password
        .link-group
            a.title(href='', data-toggle='collapse', data-target='#linkgroup2') Clusters &amp; nodes
            ul.collapse.show#linkgroup2
                li: a(href='/clusters/') Overview
        .link-group
            a.title(href='', data-toggle='collapse', data-target='#linkgroup3') File Manager
            ul.collapse.show#linkgroup3
                li: a(href='/file-manager/cloud-store') Cloud store
        .link-group
            a.title(href='', data-toggle='collapse', data-target='#linkgroup4') Services
            ul.collapse.show#linkgroup4
                li: a(href='/ssh/') SSH
                li: a(href='/ftp/') FTP
                li
                    a(href='', data-toggle='collapse', data-target='#linkgroup-apache') Apache
                    ul.collapse.collapsed#linkgroup-apache
                        li: a(href='') Configuration
                        li: a(href='') Logs

nav.top-nav
    a.title(href='', id='notifications')
        span.fa.fa-bell-o
        small.notification-count 2
    //-a.title(href=''): span.fa.fa-bell-o
    #notifications-wrapper
        #notifications-container
            .notification-title Unseen notifications
            .notification-body
                a.notification-link(href=''): span.notification-message Lost connection to node 'Node A'
                a.notification-link(href=''): span.notification-message Lost connection to node 'Node C'
        #live-notifications
    a.title(href='/account/logout'): span.fa.fa-sign-out
