header
    nav.top-nav
        ul
            li: h1: a(href='/') Dashboard
            li: a(href='') Link 1
            li: a(href='') Link 2
            li: a(href='') Link 3
            li: a(href='') Link 4
        ul.nav-float-right
            li: a(href='/account/logout') Logout
    nav.side-nav
        h3 Menu
        .link-group
            a.title(href='', data-toggle='collapse', data-target='#linkgroup1') Account
            ul.collapse.show#linkgroup1
                li: a(href='/account/change-password/') Change password
                li: a(href='/account/manage-users/') Manage users
        .link-group
            a.title(href='', data-toggle='collapse', data-target='#linkgroup2') Clusters
            ul.collapse.show#linkgroup2
                li: a(href='/clusters/') Overview
                li: a(href='/clusters/create') Create new cluster